<div class=" card d-flex flex-column w-50 m-3">
    {% if goal %}
    <div class="card bg-light p-3 text-center">
        <h1>
            Milestones of {{goal.title}}
        </h1>
    </div>

    <div class="d-lg-flex flex-row justify-content-start">
        {% if milestone_form %}
        {% include "milestones_app/combined_milestones_form.html" %}
        {% endif %}
        <div class="d-lg-flex flex-row justify-content-betweeen">
            {% include "milestones_app/combined_milestones_list.html" %}
        </div>
    </div>
    {% endif %}
</div>