<div class="col-md-3 w-25  m-3 ">
    {% for goal in goals %}
    <div class="card d-flex flex-row justify-content-between mb-5">
        <div class="card d-flex flex-column justify-content-between p-3 m-3">
            <form action="{% url 'milestones_app:detail_goal' pk=goal.id %}">
                <button type="submit" class="btn btn-info w-100 m-1 ">Show Milestones </button>
            </form>
            <form action="{% url 'milestones_app:create_milestone' pk=goal.id %}">
                <button type="submit" class="btn btn-success w-100 m-1">Create Milestones </button>
            </form>
            <form action="{% url 'milestones_app:delete_goal' pk=goal.id %}">
                <button type="submit" class="btn btn-danger w-100 m-1">Delete</button>
            </form>
        </div>
        <div class="card-body justify-content-end text-center m-3" style="background-color: {{ goal.color_code }};">
            <div class="card-title">
                <h1> {{ goal.title }} </h1>
            </div>
        </div>
    </div>
    {% endfor %}
</div>