<div class="card m-3 p-3 col-md-3  w-25">
    <div class="card-body">

        <form method="POST" class="m-2">
            {% csrf_token %}
            <div class="d-flex flex-column">
                <div>
                    <h4> Title </h4>
                    {{ milestone_form.title }}
                </div>
                <div>
                    <h4> Notes </h4>
                    {{ milestone_form.text }}
                </div>
                <div>
                    <h4>Start</h4>
                    {{ milestone_form.start }}
                </div>
                <div>
                    <h4>End</h4>
                    {{ milestone_form.end }}
                </div>
                    <input type="hidden" name="goal" value="{{ goal.id }}">

            </div>
            <button type="submit" class="btn btn-primary m-3 p-3">
                create Milestone
            </button>
        </form>
    </div>
</div>